
{%  extends 'Taskease_app/base.html' %}
{% load static %}

{% block content %}

<script>
  function redirectToPaymentpage() {
      window.location.href = 'payment-page';
  }
</script>


  <!-- ======= Pricing Section ======= -->
  <section id="signin" class="signin">
  <div class="container d-flex align-items-center justify-content-center min-vh-100">
      <div class="section-title">
        <h2>Reset Your Password</h2>
      </div>

      {% if messages %}
          {% for message in messages %}
              <div>{{ message }}</div>
          {% endfor %}
      {% endif %}
      
      <div class="col-lg-4 d-flex align-items-stretch">
          <form action="" method="post" role="form" class="php-email-form">
              {% csrf_token %}
              <div class="row">
                <div class="form-group col-md-12">
                    <label for="password">New Password</label>
                    <input type="password" name="password1" class="form-control" id="password" required>
                  </div>
                  <div class="form-group col-md-12">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" name="password2" class="form-control" id="confirm-password" required>
                  </div>
                  <div class="text-center">
                      <button type="submit">Change password</button>
                  </div>
              </div>
          </form>  
      </div>
  </div>
</section>
</body>
{% endblock %}